body{
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: #23424A;
    color: white;
    padding: 100px 0;
    
}
.hero{
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    
}
h1{
    font-size: 3rem;
}
.hero__text{
    width: 60%;
    font-weight: 200;
    
    
    
}
.hero__text p{
    margin-bottom: 4rem;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background: #38CFD9;
    padding: .85rem 2rem;
    border-radius: 100px;
    color: #23424A;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 800;
}